matplotlib==3.6.0
numpy==1.23.3
pandas==1.5.0
scipy==1.9.2
scikit-learn==1.0.2
bokeh==2.4.3
jupyterlab==3.4.8
ipywidgets==8.0.2
seaborn==0.12.0
statsmodels==0.13.2
xlrd==2.0.1
plotly==5.11.0
gspread==5.4.0
df2gspread==1.0.4
pandahouse==0.2.7
pingouin==0.5.2
tqdm==4.64.1
scikit-posthocs==0.7.0
